.contact{
    height: calc(100% - 110px);
    overflow: auto;
    background-color: var(--list_background);
    display: block;
}

.inner_contact{
    display: flex;
    background-color: var(--list_background);
    height: 72px;
    align-items: center;
    .profile{
        padding: 0 15px 0 13px;
        height: 100%;
        display: flex;
        align-items: center;
        img{
            width: 49px;
            height: 49px;
            border-radius: 50%;
        }
    }
}

.outer_msg{
    height: 72px;
    border-bottom: 1px solid var(--nav_background);
    display: flex;
    align-items: center;
    width: 100%;
}

.msg{
    display: block;
    width: 100%;
    padding-right:15px;
    
    
}
.msg_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.msg_heading{
     font-size: 17px;
    color: var(--msg_header);
}
.msg_time{
    font-size: 12px;
    color: var(--msg_time);
    margin-left:3px ;
}
.last_msg{
    font-size: 14px;
    color: var(--msg_time);
}


.hover{
    background-color:#202c33;
    cursor: pointer;
}
.click{
    background-color: #2a3942;
}
