<div class="list_container">
    <nav>
        <div class="inner_nav">
            <div class="profile"><img src="favicon.ico" alt=""></div>
            <div class="options">
                <abbr title="status"><i class="fa fa-circle-o-notch msg-color" aria-hidden="true"></i>     </abbr>
                <abbr title="New chat"><i class='fas fa-comment-alt msg-color'></i></abbr>
                <abbr title="Menu"><i class='bi bi-three-dots-vertical msg-color'></i></abbr>
            </div>
           
        </div>  
        
    </nav>
    
    